<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
<main id="list">
    <h3>북챗 :: 커뮤니티</h3>
    <p>오늘 무슨 책을 읽으셨나요? </p>
    <hr style="color:white;">
    <div style="margin:auto;width:900px;">
        <ul id="main">
            <li>
                <ul class="row">
                    <li>번호</li>
                    <li>제목</li>
                    <li>작성자</li>
                    <li>조회수</li>
                    <li>작성일</li>
                </ul>
            </li>


            <th:block th:each="dto:${list}">
                <li>
                    <ul class="row">
                        <li>
                            <a th:text="${dto.r}"/>
                        </li>
                        <li>
                            <a th:href="@{read(idx=${dto.idx},page=${paging.currentPage})}" th:text="${dto.title}" class="title"></a>
                            ..<span style="color:orange; font-size: 80%;" th:text="(${dto.commentCount})"></span>
                        </li>
                        <li>
                            <a th:text="${dto.writer}"/>
                            <a>(</a>
                            <a th:text="${dto.ip}"></a>
                            <a>)</a>
                        </li>
                        <li>
                            <a th:text="${dto.readCount}"></a>
                        </li>
                        <li>
                            <a th:text="${dto.createdAt}"></a>
                        </li>
                    </ul>
                </li>
            </th:block>
        </ul>
        <div style="float:right; margin: 40px;">
            <a th:href="@{write}" class="button">글쓰기</a>
            <a th:href="@{/}" class="button">홈</a>
        </div>
    </div>

    <input type="hidden" th:value="${message}" id="message">

    <script type="text/javascript"> /* javascript:write() */
    var message = document.getElementById('message').value
    if(message.length > 0) alert(message);

    function write() {
        let yn
        if('${user.id}'==''){  /* 로그인여부 검사: user는 session 에 저장된 애트리뷰트 */
            yn=confirm('글쓰기는 로그인이 필요합니다. 로그인 하시겠습니까?')
            if(yn) location.href='../login?back=w'  // 로그인 후 글쓰기 url로 redirect 하기 위한 파라미터
        }else{
            location.href='write?page=${paging.currentPage }'
        }
    }
    </script>
    <div style="width: 700px; margin: auto; padding: 10px; text-align: center;">
        전체 글 개수 : <a th:text="${paging.totalCount}"></a>
        <br>
        <hr>
        <a th:href="@{list(page=1)}" class="pagenum"><<</a>
        <a th:href="@{list(page=${paging.startPage-1})}" class="pagenum"><</a>

        <th:block th:each="i : ${#numbers.sequence(paging.startPage , paging.endPage)}">
            <a th:href="@{list(page=${i})}" th:text="${i}" class="pagenum"></a>
        </th:block>

        <a th:href="@{list(page=${paging.endPage+1})}" class="pagenum">></a>
        <a th:href="@{list(page=${paging.totalPage})}" class="pagenum">>></a>
    </div>
</main>
<script type="text/javascript">
    const pnums = document.querySelectorAll('.ieach');
    pnums.forEach(function(item){   /* forEach로 숫자 a태그를 하나씩 item 에 저장 */
        console.log(item);
        /* item 번호가 현재 페이지 이면 글꼴 스타일을 다르게함. */
        if(item.innerHTML=='${paging.currentPage}') {     /* a태그의 숫자와 현재페이지가 같은지 검사 */
            item.style.color = 'black';
            item.style.fontWeight = 'bold';
        }else{
            item.style.color = '#37966f';
        }
    });
</script>
</body>
</html>